.flex{
	display: flex;
}
.flex-sub{
	flex: 1;
}
.flex-wrap{
    flex-wrap: wrap;
}
.text-center{
	text-align: center;
}
.align-center{
	align-items: center;
}
.justify-start{
    justify-items: start;
}
.space-between{
    justify-content: space-between;
}
.bg-white{
	background-color: #fff;
}
.padding-sm{
	padding: 20px;
}
.text-bold{
	font-weight: bold;
}  
.text-xl{
	
}
.text-black{
	color: #000000;
}
.bb{
	box-sizing: border-box;
}
.mb-15{
	margin-bottom: 20px;
}
.mb-20{
	margin-bottom: 20px;
}
.mb-40{
	margin-bottom: 40px;
}
.ml-15{
    margin-left: 15px;
}
.ml-30{
    margin-left: 30px;
}
.text-white{
    color: #fff;
}
.text-center{
    text-align: center;
}